/**************import css*************/
@import url("telephone.css");
@import url("tablette.css");
@import url("ordi.css");

@import url("presentation_projet.css");

/**************import police*************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

@font-face {
    font-family: 'Migha';
    src: url(../media/Migha-Bold.otf);
}



/**************page aceuilleee*************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --police-text: 'Poppins', 'Courier New', Courier, monospace;   
}

 body{
    overflow-x: hidden; 
 }

h1, h3, h2{
    font-family: 'Migha', 'Poppins', 'sans-serif';
}

p{
    font-family: 'Poppins', 'sans-serif';
}

h3{
    font-size: 7vw;
}

button, .titre1, .titre2, .titre3, a{
    font-family: 'Poppins', 'Courier New', 'monospace';
}

/*concerne les projets*/

.projet1, .projet2, .projet3{
    display: none;
}


/*annimation rond souris*/


u{
    text-decoration: none;
    font-weight: 600;
}



